.button {
  background: #F5170E;
  border-radius: 35px;
  text-decoration: none;
  padding: 20px 40px 18px 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  font-weight: bold;
  display: inline-block;
  transition: background .3s, color .3s;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #DA0100;
  box-shadow: 0 2px 4px rgba(218, 1, 0, 0.3) ;
  
}

.button--light {
  padding: 18px 27px 18px 30px;
  background: transparent;
  color: #da0100;
  border: 1px solid;
  margin-left: 3px;
}

.button--light:hover {
  background: #da0100;
  border: 1px solid #da0100;
  color:#fff;
}

.button--light--service {
  padding: 19px 38px 18px 39px;
  background: transparent;
  color: #da0100;
  border: 1px solid;
  margin-left: -1px;
}

.button--welcome {
  padding: 20px 60px 20px 60px;
}