.footer__container {
  position: relative;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer {
  height: 116px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.footer__logo {
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
}

.footer__menu {
  position: absolute;
  top: 56px;
  left: 164px;
}

.footer__contacts {
  position: absolute;
  top: 44px;
  right: 0;
}

.contacts__phone {
  font-style: normal;
  line-height: 1;
}

.contacts__info {
  margin-bottom: 7px;
  color: #9A9A9A;
  text-align: right;
  font-size: 11px;
  font-style: normal;
}

.social {
  position: absolute;
  top: 51px;
  right: 265px;
}

.social__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social_item--icon--inst .social__link {
  background-image: url("/img/in.png");
}

.social_item--icon--inst .social__link:hover {
  background-image: url("/img/in2.png");
}

.social_item--icon--fb .social__link {
  background-image: url("/img/f.png");
}

.social_item--icon--fb .social__link:hover {
  background-image: url("/img/f2.png");
}

.social_item--icon--vk .social__link {
  background-image: url("/img/vk.png");
}

.social_item--icon--vk .social__link:hover {
  background-image: url("/img/vk2.png");
}

.social_item--icon--tg .social__link {
  background-image: url("/img/telegram.png");
}

.social_item--icon--tg .social__link:hover {
  background-image: url("/img/t2.png");
}