.footer-services__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 46px 0 54px 0;
}

.footer__logo-services {
  margin-right: 64px;
}

.footer__logo--img {
  width: 100px; 
}


