.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 29px;
  margin-bottom: 77px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block; 
  margin-right: 80px;
}

.contacts {
  text-align: right;
  font-style: normal;
}

.menu__item {
  margin-right: 50.5px;
  display: inline-block;
  vertical-align: middle;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1;
}

.contacts__shedule {
  font-size: 13px;
  text-decoration: underline;
  line-height: 1.2;
}
