.header__container {
  position: relative;
}

.header {
  margin-bottom: 74px;
  height: 123.36px;
}

.logo {
  display: block; 
  position: absolute;
  top: 28px;
  left: 0;
}

.menu {
  position: absolute;
  top: 38px;
  left: 165px;
}

.contacts {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: right;
  font-style: normal;
}

.menu__item {
  margin-right: 50.5px;
  display: inline-block;
  vertical-align: middle;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1;
}

.contacts__shedule {
  font-size: 13px;
  text-decoration: underline;
  line-height: 1.2;
}
