.offers {
  margin-bottom: 122px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
}

.title--fire {
  display: flex;
  align-items: center;
}

.title--fire::after {
  content: "";
  background: url("../../img/flame.png");
  margin-left: 10px;
  width: 21px;
  height: 28px;
}

.offers__item {
  min-height: 449px;
  background: #fff;
  border-radius: 6px;
  width: calc(100% / 3 - 18px);
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__content {
  padding: 27px 22px;
  color: #000000;
}

.offers__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 26px;
}

.offers__features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  padding-left: 7px;
}

.offers__feature {
  display: flex;
  padding-right: 36px;
}

.offers__feature-img {
  vertical-align: middle;
}

.offers__feature-text {
  vertical-align: middle;
  margin-left: 7px;
  font-size: 16px;  
  color: #666666;
}


.offers__text {
  margin-bottom: 26px;
  font-size: 14px;
  color: #303030;
  line-height: 1.5;
  font-style: normal;
}