.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__pages {
  margin-right: 26px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
  margin-right: 2px;
}

.pagination__link--active, .pagination_link {
  background: #fff;
  color: #F5170E;
}

.pagination__link:hover {
  color: #F5170E;
  background: #fff;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  transition: background .3s, color .3s;
}

.pagination--service {
  margin-left: 43px;
}

.pagination__link--service:hover {
  color: #ffffff;
  background: #F5170E;
}

.pagination__link--service--active {
  background: #F5170E;
  color: #ffffff;
}

.pagination--reviews {
  margin-left: 10px;
}