.page-content {
  background: #fff;
  color: #303030;
  padding: 91px 0;
}

.services {
  display: flex;
}

.service__img {
  width: 30%;
  margin-right: 7%;
}

.services__item {
  margin-bottom: 49px;
}

.service__content {
  flex: 1;
  padding-left: 57px;
  padding-top: 11px;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 28px;
  color: #000000;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 34px;
}

